body {
    color: #000;
    background: #fff;
    text-align: center;
    font-size: 4.5rem;
}

body.tv {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #000;
    text-align: left;
    font-size: 2.5rem;
}

body.tv .bottom {
    height: 99vh;
    justify-content: flex-end;
}

.frontbox {
    float: left;
    width: 100%;
    border-bottom: 0.6rem solid #000;
}

body.tv .frontbox {
    border-bottom: none;
}

.frontbox .clockbox {
    text-align: left;
    font-size: 11rem;
    width: calc(50% - 0.6rem);
    font-weight: bold;
    border-right: 0.6rem solid #000;
    padding-right: 3rem;
}

body.tv .clockbox {
    font-size: 7rem;
    font-weight: bold;
    border-right: none;
    padding-right: 0;
}

.frontbox .daybox {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4rem;
}

body.tv .daybox {
    justify-content: flex-start;
    text-align: left;
    padding-left: 0;
}

.datebox {
    clear: both;
    border-bottom: 0.6rem solid #000;
}

body.tv .datebox {
    border-bottom: none;
}

.hebbox {
    border-left: 0.6rem solid #000;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.tv .hebbox {
    border-left: none;
    padding-left: 0;
    justify-content: flex-start;
    text-align: left;
}

.eventbox {
    min-height: 5rem;
    line-height: 5rem;
    border-bottom: 0.6rem solid #000;
}

body.tv .eventbox {
    border-bottom: none;
    min-height: 3rem;
    line-height: 3rem;
}

@media screen and (max-width: 51em) {
    .frontbox .clockbox {
        padding: 0;
        border-right: none;
    }
    .frontbox .daybox {
        display: flex;
        padding-left: 0;
        padding-bottom: 1rem;
    }
    .hebbox {
        border-left: none;
        padding-left: 0;
        display: flex;
    }
}
